/* Theme Name: mytheme Theme 
URL: http:// 
Author: Yury Melnik */

/* =Reset default browser CSS. */ 
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, dl, dt, dd, 
ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td { 
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0; 
	padding: 0; 
} 
h1 {
	font-size: 32px;
} 
h2 {
	font-size:24px;
} 
h3 {
	font-size:19px;
} 
h4 {
	font-size:16px;
} 
h5 {
	font-size:13px;
} 
h6 {
	font-size:11px;
} 
table { 
	border-collapse: separate;
	border-spacing: 0;
} 
caption, th, td {
	font-weight: normal;
	text-align: left;
} 
blockquote {
	min-height: 30px;
	color: #777;
	padding :15px 15px 15px 35px;
	margin: 15px 0;
	background: #f8f8f8;
	font-size: 13px;
} 
a img {
	border: 0;
} 
ul, ol {
	list-style: none;
} 
cite, em, i {
	font-style: italic;
} 
p { 
	margin-bottom: 1.625em;
} 
ol ol { 
	list-style: upper-alpha; 
} 
ol ol ol { 
	list-style: lower-roman; 
} 
ol ol ol ol { 
	list-style: lower-alpha; 
} 
ul ul, ol ol, ul ol, ol ul { 
	margin-bottom: 0;
} 
dl { 
	margin: 0 1.625em; 
} 
dt { 
	font-weight: bold; 
} 
dd { 
	margin-bottom: 1.625em; 
} 
strong { 
	font-weight: bold; 
} 
cite, em, i { 
	font-style: italic; 
} 
blockquote cite { 
	color: #666; 
	font: 12px Helvetica, Arial, sans-serif; 
	font-weight: 300; 
	letter-spacing: 0.05em; 
	text-transform: uppercase; 
} 
pre { 
	background: #f4f4f4; 
	font: 13px Courier, monospace; 
	line-height: 1.5; 
	margin-bottom: 1.625em; 
	overflow: auto; 
	padding: 0.75em 1.625em; 
} 
code, kbd, samp, var { 
	font: 13px Courier, monospace; 
} 
abbr, acronym, dfn { 
	border-bottom: 1px dotted #666; 
	cursor: help; 
} 
address { 
	display: block; 
	margin: 0 0 1.625em; 
} 
ins { 
	background: #fff9c0; 
	text-decoration: none; 
} 
sup, sub { 
	font-size: 10px; 
	height: 0; 
	line-height: 1; 
	position: relative; 
	vertical-align: baseline; 
} 
sup { 
	bottom: 1ex; 
} 
sub { 
	top: 0.5ex; 
} 
small { 
	font-size: smaller; 
}

/*Основные настройки*/

html {
	height: 100%;
} 
body {
	position: relative;
	padding: 0;
	min-width: 1000px;
	margin: 0;
	background: #fff;
	height: 100% 
} 
body, input, textarea {
	color: #222;
	font-weight: 300;
	line-height: 1.625;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #008fed;
	text-decoration: none;
} 
a:focus, a:active, a:hover {
	color: #f30;
	text-decoration:underline;
} 


#main {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

/*Шапка*/ 
#header { 
	background: #008fed; 
	color: #fff; 
	position: relative; 
	height: 100px; 
	width: 970px; 
	padding:15px 15px 0; 
} 
/*Лого*/ 
#logo {
	width: 157px;
	height: 51px;
	background: url(images/logo.png) no-repeat;
} 
/*Слоган*/ 
.desc {
	margin-top: 5px;
	font-size: 12px;
}
/*Поиск*/ 
#searchform { 
	position: absolute;
	right: 15px;
	top: 15px;
} 
#searchform #s {
	border: none;
	color: #777;
	background: #f4f4f4;
	padding: 3px 5px;
	margin-right :-4px;
} 
#searchform .sim {
	background: #333;
	border: none;
	color: #fff;
	padding: 2px 5px;
} 
#searchform .sim:hover, 
#searchform .sim:focus {
	background: #777;
	cursor: pointer;
} 
/*Меню*/ 
#menu {
	max-width: 800px;
	position: absolute;
	right: 0;
	bottom: 15px;
} 
#menu ul li {
	float: left;
	position: relative;
	text-align: center;
} 
#menu li a {
	color: #fff;
	padding: 0 15px;
	font-size: 13px;
} 
#menu a:hover,
#menu a:focus,
#menu a:active, 
#menu .current-menu-item > a, 
#menu .current-menu-ancestor > a, 
#menu .current_page_item > a, 
#menu .current_page_ancestor > a {
	color: #333;
	text-decoration: underline;
} 
#menu ul ul {
	display: none;
	background: #f4f4f4;
} 
#menu ul ul a {
	line-height: 35px;
	text-align: left;
	font-size: 13px;
	color: #333;
} 
#menu ul ul a:hover {
	color: #f30;
	text-decoration: underline;
} 
#menu li:hover ul {
	display: block;
	position: absolute;
	z-index: 2;
}
/*Главная*/ 
#primary { 
	width: 705px; 
	float: left; 
	margin-top: 15px; 
	padding: 15px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2); 
	   -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2); 
			box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2); 
}
/*крошки*/ 
.entry-breadcrumb {
	padding: 10px 0;
	font-size: 13px;
	color: #888;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
} 
.entry-breadcrumb > div {
	display: inline-block;
} 
/*блок архивы и поиск*/ 
.top-text {
	font-size: 14px;
	color: #777;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
/*цикл*/ 
.content_block {
	margin-bottom: 40px;
	position: relative;
	padding-bottom: 5px;
	clear: both;
}
/*Миниатюра*/ 
.wp-post-image {
	max-width: 180px;
	max-height: 180px;
	display: block;
	padding: 2px;
	float: left;
	margin: 0 20px 20px 0;
} 
/*Заглавия*/ 
.post_title ,
.page_title {
	position: relative;
	padding: 0;
	color: #222;
	font-size: 22px;
	letter-spacing: -0.8px;
	line-height: 28px;
	width: 100%;
	text-align: left;
} 
/*Дата и рубрика*/ 
.dop_info {
	color: #888;
	font-size: 13px;
} 
/*Текст записи*/ 
.content_text {
	text-align: justify;
	font-size: 14px;
} 
/*Кнопка читать далее*/ 
a.more_link {
	position: absolute;
	right: 0;
	bottom: 0;
} 
/*Номерация страниц*/ 
.navigator {
	padding: 10px 0;
	overflow: hidden;
	font-size: 13px;
	color: #333;
	clear: both;
	margin: 0 auto;
	text-align: center;
} 
.navigator a {
	color: #333;
	font-size: 13px;
	padding: 5px 9px;
	text-decoration: none;
} 
.navigator span.pages {
	padding: 3px 5px;
	color: #333;
	padding: 5px 9px;
	font-weight: bold;
} 
.navigator a:hover {
	background: #008fed;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
} 
.navigator a.next {
	font-weight: bold;
} 
.navigator a.next:hover {
	background: none;
	color: #008fed;
} 
.navigator span.current {
	background: #008fed;
	color: #fff;
	padding: 5px 9px;
}
/*404*/ 
.big_err {
	font-size: 80px;
	text-align: center;
	color: #333;
} 
.big_err2 {
	font-size: 35px;
	text-align: center;
	color: #555;
	letter-spacing: -1px;
} 
.big_err3 {
	font-size: 20px;
	text-align: center;
	color: #777;
}
/*Сайдбар*/ 
#secondary {
	width: 250px;
	float: right;
	margin-top: 15px
} 
/*Блок отменяющий обтекание*/ 
.clear {
	clear: both;
} 
/*Виджеты*/ 
.titlebg {
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	letter-spacing: -0.2px;
	font-size: 16px;
	margin-bottom: 20px;
} 
.widget { 
	padding: 10px; 
	margin-bottom: 25px; 
	background: #f8f8f8; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2); 
	   -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2); 
	   		box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
} 
.widget ul {
	font-size: 13px;
	margin: 0;
	padding-right: 15px;
	text-transform: none;
	line-height: 15px;
} 
.widget ul ul {
	margin-left: 15px;
} 
.widget ul li {
	color: #444;
	padding: 5px 0;
	border-bottom: 1px dotted #ddd;
} 
.widget a {
	text-decoration: none;
} 
.widget a:hover, 
.widget a:focus, 
.widget a:active {
	text-decoration: underline;
} 
/* Виджет календарь*/ 
#wp-calendar { 
	color: #555; 
	width: 95%; 
	text-align: center; 
	font-size: 12px; 
} 
#wp-calendar caption, 
#wp-calendar td, 
#wp-calendar th { 
	text-align: center; 
} 
#wp-calendar caption { 
	font-weight: 500; 
	padding: 5px 0 3px 0; 
	text-transform: uppercase; 
	font-weight: bold; 
} 
#wp-calendar th { 
	background: #f4f4f4; 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	font-weight: bold; 
} 
#wp-calendar tfoot td { 
	background: #f4f4f4; 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
}
/*Метки*/ 
.tags {
	width: 100%;
	font-size: 12px;
	color: #777;
} 
/*Редактировать запись*/ 
.post-edit-link {
	margin-left: 590px;
} 
/*Комментарии*/ 
.comments {
	font-weight: bold;
	color: #333;
} 
.comments-list ul,
.comments-list ol,
.comments-list li {
	list-style: none;
} 
.comments-list {
	margin: 18px 0 0;
} 
.comment-body {
	margin-top: 15px;
	border: 1px solid #dedede;
	position: relative;
} 
.comments-list .children {
	margin: 0 0 0 40px;
} 
.comments-list .children .children {
	margin: 0;
} 
.comment-author {
	margin: 4px 0 0 20px;
	color: #888;
	font-size: 11px;
} 
.date_comments {
	font-size: 11px;
} 
.fn {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #008fed;
} 
.avatar {
	padding: 2px;
	float: left;
	margin: 0 5px 0 0;
} 
.commentmetadata {
	font-size: 11px;
	color: #888;
	padding: 3px 0 0;
} 
.commentmetadata a {
	color: #888;
	text-decoration: none;
	position: absolute;
	top: 5px;
	right: 80px;
} 
.commentmetadata a:hover {
	color: #5CB934;
	text-decoration: underline;
}
.comment-edit-link {
	color: #888;
	text-decoration: none;
	margin-right: -70px;
} 
.comment-body p {
	margin-left: 20px;
	font-size: 14px;
	color: #444;
} 
.reply {
	margin: 0 10px 10px 15px;
	font-size: 11px;
} 
.children {
	margin-left: 20px;
} 
.children .children {
	margin: 0;
} 
/*Форма добавления комментариев*/ 
#respond {
	margin-top: 25px;
	padding: 20px 20px 10px;
	position: relative;
	z-index: 2;
	border: 1px solid #dedede;
} 
#respond input[type="text"],
#respond textarea {
	border: 1px solid #ddd;
	position: relative;
	padding: 10px;
	height: 100px;
} 
#respond label {
	color: #444;
	position: relative;
} 
#respond p.comment-form-comment {
	color: #777;
	font-size: 12px;
} 
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
} 
#respond textarea {
	resize: vertical;
	width: 95%;
} 
#respond .comment-form-author .required, 
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
} 
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
} 
#respond p {
	margin: 10px 0;
} 
#respond .form-submit {
	float: right;
	margin: -24px 0 10px;
} 
#respond .form-submit input {
	margin: 20px 0;
} 
#respond .logged-in-as {
	font-size: 13px;
	color:#777;
} 
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration:underline;
} 
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
} 
#reply-title {
	color: #333;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 15px;
	font-weight: bold;
} 
#cancel-comment-reply-link {
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: -1px;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
} 
#respond label {
	line-height: 1.5em;
} 
#respond input[type=text] {
	display: block;
	height: 15px;
	width: 95%;
} 
#respond p {
	font-size:12px;
}
/*Подвал*/ 
#footer {
	color: #888;
	padding: 0;
	width: 100%;
	margin-top: 25px;
} 
#copyright {
	font-size: 11px;
	line-height: 13px;
	width: 400px;
	float: left;
} 
#metrika {
	float: right;
	max-width: 550px;
}